<div class="col-md-6 col-md-push-3 fp-page" ng-controller="LoginController">
 <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">HRIMS Forgot Password</a>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div align="center">
                            <button class="btn btn-info btn-lg  col-md-6 col-xs-6 col-xs-offset-3 col-md-offset-3 waves-effect" type="submit">RESET PASSWORD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

